emma.opence.org {
	# Server
	redir /api /api/
	handle_path /api/* {
		reverse_proxy server:5000
	}

	# Keycloak
	redir /auth /auth/
	handle /auth/* {
		reverse_proxy keycloak:8080
	}

	# Web App
	redir /app /app/
	handle /app/* {
		reverse_proxy web-app:80
	}

	# Website
	handle {
		reverse_proxy https://kc6jmov4.opence.org {
			# https://caddyserver.com/docs/caddyfile/directives/reverse_proxy#https
			header_up Host {upstream_hostport}
		}
	}
}
