openems.opencleanenergy.org {
	# Server
	redir /api /api/
	handle_path /api/* {
		reverse_proxy server:5000
	}

	# Web App
	redir /app /app/
	handle /app/* {
		reverse_proxy web-app:80
	}

	# Website
	handle {
		redir https://opencleanenergy.org
	}
}

auth.opencleanenergy.org {
	# Keycloak
	redir /auth /auth/
	handle /auth/* {
		reverse_proxy keycloak:8080
	}
}
